##docker compose env
#backend
DATABASE_URL=
OPENROUTER_API_KEY=
OPENROUTER_MODEL=
OPENROUTER_WHISPER_MODEL=
SITE_URL=
SITE_TITLE=
MEDIA_DIR=
WEB_BASE_URL=
API_BASE_URL=
INSTAGRAM_COOKIES_FILE=


#postgres
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

#bot
TELEGRAM_BOT_TOKEN=
BOT_WEB_BASE_URL=
TELEGRAM_PROXY_URL=
TELEGRAM_REQUEST_TIMEOUT=60
